<h3><%= link_to news.title, news_path(news) %></h3>
<p><%= news.summary %></p>
<p><%= news.description %></p>
<p>Author: <%= link_to news.author.firstname %></p>
<p>Project: <%= link_to news.project.name, project_path(news.project) %></p>
